<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <h1><a href="/">Public Blogs</a></h1>

    <ul>
      <li><a href="/login"> Log in</a></li>
      <li><a href="/createBlog" class="btn">Create a new blog</a></li>
      <li><a href="/deleteBlog">Delete a blog</a></li>
      <li><a href="/logout"> Log out</a></li>
      <li><a href="/signup" class="btn">Sign up</a></li>
    </ul>
    
  </nav>





